body {
  --bege: #E6E0D6;
  --marrom-escuro: #816D4F;
  --marrom-claro: #B29463;

  font-family: 'Barlow', sans-serif;
}

input[type=checkbox] {
  border: 2px solid var(--marrom-claro);
  box-shadow: none;
}

input[type=checkbox]:checked {
  background-color: var(--marrom-claro);
  border-color: var(--marrom-claro);
  box-shadow: none;
  outline: none;
}

input[type="checkbox"]:focus{
  border-color: var(--marrom-claro);
  box-shadow: none;
}

input[type="checkbox"]:focus:checked {
  background-color: var(--marrom-claro);
  box-shadow: none;
}

.banners{
  width: 100%;
  height: 90vh;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.banner-1 {
  background-image: url(assets/banner-1.png);
}

.banners-titulo {
  --bs-bg-opacity: .2;
}

.botao-padrao {
  background-color: var(--marrom-claro);
  color: black;
}

.botao-padrao:focus{
  border-color: var(--marrom-claro);
  box-shadow: none;
}

.botao-padrao:hover {
  background-color: var(--marrom-escuro);
}

.botao-padrao:checked {
  background-color: var(--marrom-escuro);
}

.accordion-button:not(.collapsed) {
  background-color: var(--marrom-escuro);
}

.banner-2 {
  background-image: url(assets/banner-2.png);
}

.modal-footer{
  width: 100%;

  display: flex;
  justify-content: center;
}

.banner-3 {
  background-image: url(assets/banner-3.png);
}

.form-range::-webkit-slider-thumb {
  background-color: var(--marrom-claro);
}

.form-range::-webkit-slider-runnable-track {
  background-color: black;
}

footer {
  background-color: var(--marrom-claro);
}

[data-bs-theme="dark"] {
  color: white;
  .nav-link, 
  .card-body, 
  .offcanvas, 
  .accordion, 
  .btn{
    --bs-nav-link-color: white;
    --bs-card-color: white;
    --bs-offcanvas-color: white;
    --bs-body-color: white;
  }
}

[data-bs-theme="dark"] {
  .form-range::-webkit-slider-runnable-track {
    background-color: white;
  }
}

